:root {
	--color-primary: rgb(135, 169, 197);
	--color-primary-dark: rgb(126, 155, 179);
	--color-text: rgb(51, 50, 50);
}

body {
	background-color: var(--color-primary);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center; /* Centraliza horizontalmente */
	align-items: center; /* Centraliza verticalmente */
	height: 100vh; /* 100% da altura da viewport */
	margin: 0; /* Remove margens padrão */
	background-color: var(--color-primary-dark);
	border-radius: 10px;
}

.box-container {
	display: flex;
	flex-direction: row;
	margin: 60px;
}

.box {
	width: 200px;
	height: 200px;
	margin: 5px;
	background-color: var(--color-primary);
	color: var(--color-text);
	text-align: center; /* Centraliza o texto horizontalmente */
	line-height: 200px; /* Centraliza o texto verticalmente */
	border-radius: 10px; /* Borda arredondada */
}

.search {
	display: inline-block;
	justify-self: center;
	border: none;
	padding: 1.1rem 1.6rem;
	font-size: 1.1rem;
	border-radius: 0.7rem;
	width: 20rem;
	transition: all 0.3s;
	background-color: var(--color-primary);
	color: var(--color-text);
}

.search::placeholder {
	color: rgb(117, 117, 117);
}
